<body style="background-color:lightblue;">
<div class="container">
<div class="col-md-6"></div>
<div class="col-md-4">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <div class="row">
        <div class="col-lg-4" align="left">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>
  </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-lg-4" align="left">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>
  </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4" align="left">
  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :product_quantity %>
  </div>
  </div>
  </div>

    <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
</div></div></body>